/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes initialAnim {
  0% {
    width: 0;
    height: 0;
    box-shadow: 0 0 0 0 #000; }
  100% {
    width: 650px;
    height: 550px;
    box-shadow: 3px 3px 11px -4px #000; } }
@keyframes openPageAnim {
  0% {
    height: 550px;
    width: 650px;
    margin: auto; }
  100% {
    margin: 0;
    height: 100%;
    width: 100%; } }
@keyframes navItemActiveAnim {
  100% {
    width: 210px;
    height: 170px;
    transform: translate(0, 0) scale(1);
    position: relative;
    margin: 20px 0 20px 20px; } }
#content {
  background: #512DA8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#exitBtn {
  position: fixed;
  top: 30px;
  right: 70px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  z-index: 999; }
  #exitBtn:after, #exitBtn:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 5px;
    background: #311B65; }
  #exitBtn:after {
    transform: rotate(45deg); }
  #exitBtn:before {
    transform: rotate(-45deg); }
  #exitBtn.active {
    background: #fff; }

.item-holder {
  background: #673AB7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 0;
  box-shadow: 0 0 0 0 #000;
  animation: initialAnim 0.5s forwards ease-in-out; }
  .item-holder .dashboard-tab,
  .item-holder .files-tab,
  .item-holder .profile-tab,
  .item-holder .settings-tab {
    position: absolute;
    width: 340px;
    height: 290px;
    background: #492689;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    box-shadow: 2px 2px 5px -2px #000;
    transition: opacity 300ms ease, scale 400ms ease, transform 400ms ease, box-shadow 200ms ease; }
    .item-holder .dashboard-tab:after,
    .item-holder .files-tab:after,
    .item-holder .profile-tab:after,
    .item-holder .settings-tab:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 2; }
  .item-holder .dashboard-tab {
    transform: translate(10px, 10px) scale(0.8); }
  .item-holder .files-tab {
    transform: translate(calc(100% - 20px), -10px) scale(0.8);
    transition-delay: 50ms; }
  .item-holder .profile-tab {
    transform: translate(10px, calc(100% - 20px)) scale(0.8);
    transition-delay: 150ms; }
  .item-holder .settings-tab {
    transform: translate(calc(100% - 20px), calc(100% - 20px)) scale(0.8);
    transition-delay: 100ms; }
  .mounted .item-holder .dashboard-tab,
  .mounted .item-holder .files-tab,
  .mounted .item-holder .profile-tab,
  .mounted .item-holder .settings-tab {
    opacity: 1; }
  .mounted .item-holder .dashboard-tab {
    transform: translate(-30px, -30px) scale(1); }
    .mounted .item-holder .dashboard-tab.active {
      transform: translate(-30px, -30px) scale(1.1);
      box-shadow: 7px 6px 11px -4px rgba(0, 0, 0, 0.6);
      z-index: 2; }
  .mounted .item-holder .files-tab {
    transform: translate(100%, -30px) scale(1); }
    .mounted .item-holder .files-tab.active {
      transform: translate(100%, -30px) scale(1.1);
      box-shadow: 7px 6px 11px -4px rgba(0, 0, 0, 0.6);
      z-index: 2; }
  .mounted .item-holder .profile-tab {
    transform: translate(-30px, 100%) scale(1); }
    .mounted .item-holder .profile-tab.active {
      transform: translate(-30px, 100%) scale(1.1);
      box-shadow: 7px 6px 11px -4px rgba(0, 0, 0, 0.6);
      z-index: 2; }
  .mounted .item-holder .settings-tab {
    transform: translate(100%, 100%) scale(1); }
    .mounted .item-holder .settings-tab.active {
      transform: translate(100%, 100%) scale(1.1);
      box-shadow: 7px 6px 11px -4px rgba(0, 0, 0, 0.6);
      z-index: 2; }

#svgDashboard,
#svgFiles,
#svgProfile,
#svgSettings {
  width: 40%;
  transition: width 400ms ease;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }
  .active #svgDashboard, .selected #svgDashboard, .active
  #svgFiles, .selected
  #svgFiles, .active
  #svgProfile, .selected
  #svgProfile, .active
  #svgSettings, .selected
  #svgSettings {
    width: 75%; }

.item-holder.activated {
  margin: 0;
  width: 210px;
  height: 100%;
  padding: 20px;
  animation: none;
  box-sizing: border-box; }
  .item-holder.activated .nav-item {
    transition: none;
    width: 100%;
    height: 170px;
    transform: translate(0, 0) scale(1);
    position: relative;
    margin: 20px 0; }
    .item-holder.activated .nav-item.active {
      transform: translate(0, 0) scale(1.1); }

.content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 70px 0 0 300px;
  box-sizing: border-box; }

.weather-widget {
  display: inline-block;
  width: 65%;
  background: #444;
  background: -webkit-linear-gradient(-90deg, #585858 0%, #444444 100%);
  color: #fff;
  padding: 20px 20px 0; }
  .weather-widget h3 {
    font-size: 30px;
    font-family: Arial;
    display: inline-block;
    width: 65%;
    vertical-align: middle; }
    .weather-widget h3 span {
      display: inline-block;
      vertical-align: middle;
      width: 50%; }
  .weather-widget p {
    display: inline-block;
    vertical-align: middle;
    background: #1a1a1a;
    background: -webkit-linear-gradient(-90deg, #1a1a1a 0%, #424242 100%);
    margin: -20px -20px 0 0;
    width: calc(35% + 20px);
    padding: 80px 0;
    text-align: center;
    font-family: Arial;
    font-size: 44px; }
    .weather-widget p sup {
      font-size: 18px;
      display: inline-block;
      vertical-align: top; }
  .weather-widget .text {
    color: #bbb9b9; }
    .weather-widget .text strong {
      color: #fff;
      display: block;
      padding-top: 5px;
      font-weight: bold; }
  .weather-widget .icon img {
    width: 150px; }

/*# sourceMappingURL=style.css.map */
