//!!!!!!!!!!!!!!!!!!
// BE VERY CAREFUL WITH THE ANIMATION COREOGRAPHY!!!!!!!
//!!!!!!!!!!!!!!!!!!
@keyframes initialAnim {
    0% {
        width: 0;
        height: 0;
        box-shadow: 0 0 0 0 #000;
    }
    100% {
        width: 650px;
        height: 550px;
        box-shadow: 3px 3px 11px -4px #000;
    }
}

// selected tab aniamtion
