//!!!!!!!!!!!!!!!!!!
// BE VERY CAREFUL WITH THE ANIMATION COREOGRAPHY!!!!!!!
//!!!!!!!!!!!!!!!!!!
@keyframes initialAnim {
    0% {
        width: 0;
        height: 0;
        box-shadow: 0 0 0 0 #000;
    }
    100% {
        width: 650px;
        height: 550px;
        box-shadow: 3px 3px 11px -4px #000;
    }
}

@keyframes openPageAnim {
    0% {
        height: 550px;
        width: 650px;
        margin: auto;
        // padding: 0;
    }

    100% {
        margin: 0;
        height: 100%;
        width: 100%;
    }
}

@keyframes navItemActiveAnim {
    0% {

    }

    100% {
        width: 210px;
        height: 170px;
        transform: translate(0, 0) scale(1);
        position: relative;
        margin: 20px 0 20px 20px;
    }
}
