$darkPrimaryColor    : #512DA8;
$darkBgPrimaryColor  : #492689;
$defaultPrimaryColor : #673AB7;
$lightPrimaryColor   : #D1C4E9;
$white               : #FFFFFF;
$accentColor         : #FFC107;
$primaryTextColor    : #212121;
$secondaryTextColor  : #757575;
$dividerColor        : #BDBDBD;
$blueDarkPrimaryColor: #1976D2;
$bluePrimaryColor    : #2196F3;
